@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container {
  @apply max-w-7xl m-auto;
}

.active {
  @apply font-medium tracking-wide text-blue-700 transition-colors duration-200 hover:text-blue-400;
}

.default {
  @apply font-medium tracking-wide text-gray-700 transition-colors duration-200 hover:text-blue-400;
}

.btn {
  @apply inline-flex items-center h-12 px-10 mb-3 font-medium text-white transition duration-200 rounded shadow-md  md:mb-0 bg-purple-900 hover:bg-purple-700;
}


